*.iml
.gradle
/local.properties
/.idea
/.kotlin
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.hprof
.navigation
output-metadata.json
*.jks
*.keystore
